<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2> Virat Kohli is an Indian international cricketer and former captain
         of the India national team who plays as a right-handed batsman for 
         Royal Challengers Bangalore
         in the IPL and for Delhi in Indian domestic cricket. Wikipedia</h2>
         <h1> 
            Virat Kohli Profile - ICC Ranking, Age, Career Info & Stats</h1>
            <h3> Virat Kohli ; Born, November 05, 1988 ; Age, 34 years 131 days ;
                 Teams, India, Delhi, India Red, India U19, Royal Challengers Bangalore,
                  Board Presidents XI, North ...
                Age: 34 years 131 days
                Bowl Style: Right-arm medium
                Teams: India, Delhi, India Red, India U19, Royal ...
                Bat Style: Right Handed Bat</h3>

                <center>
                <a href=" {% url 'CSK:dhoni' %}">Navigate to dhoni</a>
                </center>
</body>
</html>